// Bootstrap
@import 'bootstrap';

// Variables
@import 'variables';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $neutrals-white;
  color: $neutrals-black;
  font-size: pxToRem(16);
  line-height: 24px;
}

#__nuxt {
  height: 100%;
}

.content {
  height: 100%;
}
