// Bootstrap
@import 'bootstrap';

// Variables
@import 'variables';

html {
  height: 100%;

body {
  background-color: $neutrals-white;
  color: $neutrals-black;
  font-size: pxToRem(16);
  line-height: 24px;
}
